body {
  background-color: #d5e1ef;
  min-height: 100vh;
  font-family: cursive;
  text-align: center;
}
.card {
  position: fixed;
  height: 470px;
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.3);
  width: 302px;
  border-radius: 20px;
  background-color: white;
  margin:  auto;
  padding: 1rem;
  padding-bottom: 3rem;
  inset: 0;
}
img{
  width: 100%;
  border-radius: 10px;
}
p{
  font-size: 15px;
  color: gray;
  margin-top: 10px;
  
}
